<header>
  <div class="navbar">
    <div class="logo"><a href="#">Arya Syaifullah</a></div>
    <ul class="links">
      <li><a href="hero">Home</a></li>
      <li><a href="about">About Me</a></li>
      <li><a href="product">Product</a></li>
      <li><a href="contact">Contact me</a></li>
    </ul>
    <a href="#" class="action_btn">Get Started</a>
    <div class="toggle_btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>